{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "10.15.2"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "10.15.2"
            }
          }
        ]
      ],
      "plugins": [
        "rewire"
      ]
    }
  }
}
